* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    overflow: hidden;
}

.proj_info {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 5.20% 6.25% 38.55% 38.55% 6.25% 5.20%;
    grid-template-rows: 9.62% 7.7% 24% auto 11% 13%;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 2.5%;
    text-align: center;
}

.mini_title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: black;
    font-size: 1.7vw;
    
    z-index: 99;
    cursor: pointer;
    
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

.mini_title:hover{
    color: gray;
}

.back_container {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 5.20%;
    text-align: center;
}

.back {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1.5vw;
    transform: rotate(270deg);
    margin-top: 45vh;
    
    z-index: 99;
    cursor: pointer;
    
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

.back:hover {
    color: gray;
}

.next_container {
    position: fixed;
    height: 9.63%;
    width: 20%;
    z-index: 99;
    right: 11.45%;
    top: 84.36%;
    text-align: right;
}

.next {
    font-family: 'Playfair', serif;
    font-weight: 700;
    color: black;
    font-size: 1.8vw;
    
    /*grid-column: 4/5;
    grid-row: 5/6;
    align-self: start;
    justify-self: end;*/
    
    padding-right: 3%;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

.next:hover {
    cursor: pointer;
    color: gray;
    padding-right: 0;
}

.proj_title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: black;
    font-size: 5vw;
    line-height: 1.1;
    
    grid-column: 3/5;
    grid-row: 3/4;
    place-self: start;
}

.description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1.4vw;
    
    grid-column: 3/4;
    grid-row: 4/5;
    padding-top: 2%;
}

#rios {
    color: black;
    font-weight: 700;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

#rios_hover {
    color: gray;
}

.collaboration {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1vw;
    text-align: right;
    
    grid-column: 4/5;
    grid-row: 4/5;
    justify-self: end;
}

.collaboration a{
    font-weight: 700;
    color: black;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

.collaboration a:hover{
    color: gray;
}

.proj_subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 1.5vw;
    
    grid-column: 4/5;
    grid-row: 5/6;
}

#proj1_img1 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj1_img2 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj1_img3 {
    grid-column: 3/4;
    grid-row: 3/6;
    place-self: start;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj1_img4 {
    grid-column: 4/5;
    grid-row: 3/6;
    place-self: end;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj1_img5 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj1_img6 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj2_img1 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj2_img2 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj2_img3 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj2_img4 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj2_img5 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj3_img3 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj3_img4 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

#proj3_img5 {
    grid-column: 3/5;
    grid-row: 3/6;
    place-self: center;
    
    object-fit: cover;
    max-height: 100%;
    width: auto;
}

.scroller {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { opacity:0 } 
  to { opacity:1 }
}

@keyframes animatebottom { 
  from{opacity:0 } 
  to{ opacity:1 }
}

@media only screen and (max-width: 400px) {
    .mini_title {
        font-size: 3vw;
        padding-top: 5%;
    }
    
    .proj_title {
        font-size: 8vw;
        grid-column: 3/5;
    }
    
    .description {
        font-size: 3vw;
    }
    
    .collaboration {
        font-size: 2vw;
    }
    
    .proj_subtitle {
        font-size: 2.5vw;
    }
    
    .next {
        font-size: 3vw;
    }
    
    .back {
        font-size: 3vw;
    }
    
    .next_container {
        width: 40%;
    }
    
    .img_proj {
        object-fit: cover;
        max-width: 100%;
        height: auto;
    }
}